.icon-container {
  border-top: 1px solid rgba(192, 192, 192, 0.5);
  background-color: white;
}

.filter-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid transparent;
  transition: all 0.3s;
  cursor: pointer;
}

.filter-icons:hover {
  border-bottom: 1px solid black;
}

.modal-btn {
  border: 1px solid #dddddd;
  border-radius: 10%;
  width: 115px;
  height: 50px;
}
.inner-box {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  flex-direction: row;
}
