.d-flex{
	margin-top: 10px;
	margin-left: -25px;
}

.filter-icons{
	width: 84px;
	border-bottom: 1px solid transparent;
	transition: all .3s;
	cursor: pointer;
}

.filter-icons:hover{
	border-bottom: 1px solid black;
	
}

.modal-btn{
	border: 1px solid #DDDDDD;
	border-radius: 10%;
	width: 115px;
	height: 50px;
}

