.card-item {
  width: 400px;
  height: 400px;
  margin: 7px;
}
.card-img {
  width: 400px;
  height: 300px;
  display: flex;
  justify-content: center;
  background-color: none;
  object-fit: fill;
}

a {
  text-decoration: none;
}

mat-card{
  box-shadow: none!important;
}

mat-card-content{
  cursor: pointer;
  margin-top: 10px;
}