.card-item {
  width: 400px;
  height: 400px;
  margin: 7px;
  
}
.card-img {
  width: 400px;
  height: 300px;
  border-radius: 4%!important;
  display: flex;
  justify-content: center;
  background-color: rgb(45, 44, 44);
  object-fit: fill;
}
a {
  text-decoration: none;
}

mat-card{
  box-shadow: none!important;
}

