<article>
  <header class="header-wrapper">
    <div class="payments-header">
      <a class="back-btn" type="button">
        <svg
          xmlns:xlink="http://www.w3.org/1999/xlink"
          viewBox="0 0 32 32"
          xmlns="http://www.w3.org/2000/svg"
          aria-label="Back"
          role="img"
          focusable="false"
          style="
            display: block;
            fill: none;
            height: 16px;
            width: 16px;
            stroke: currentcolor;
            stroke-width: 3;
            overflow: visible;
          "
          width="32"
          height="32"
        >
          <g fill="none" stroke="#222222" stroke-width="3px">
            <path
              d="m20 28-11.29289322-11.2928932c-.39052429-.3905243-.39052429-1.0236893 0-1.4142136l11.29289322-11.2928932"
              stroke="#222222"
              fill="none"
              stroke-width="3px"
            ></path>
          </g>
        </svg>
      </a>
      <h1>Request to book</h1>
    </div>
  </header>
  <body>
    <section class="left-side-wrapper">
      <div class="left-side-container">
        <div class="your-trip">
          <h2>Your trip</h2>
          <div>
            <h3>Dates</h3>
            <p>Dec 11 – 16</p>
          </div>
          <div>
            <h3>Guests</h3>
            <p>1 guest</p>
          </div>
          <hr />
        </div>
        <div class="how-to-pay">
          <h2>Choose how to pay</h2>
          <fieldset>
            <div
              (click)="inputChecked(inputCheckbox)"
              [ngClass]="{ 'active-border': payFull }"
              class="pay-in-full"
            >
              <div class="payment-wrapper col-md-12">
                <div class="col-md-11">
                  <div class="payment-option-title">
                    <h3>Pay in full</h3>
                    <p>$3000</p>
                  </div>
                  <p class="text-muted">Pay the total now and you're all set</p>
                </div>
                <mat-radio-button
                  #inputCheckbox
                  class="col-md-1"
                  value="1"
                  checked
                ></mat-radio-button>
              </div>
            </div>
            <div
              (click)="inputChecked(inputCheckbox2)"
              [ngClass]="{ 'active-border': payPart }"
              class="pay-in-part"
            >
              <div class="payment-wrapper col-md-12">
                <div class="col-md-11">
                  <div class="payment-option-title">
                    <h3>Pay part now, part later</h3>
                    <p>$1500</p>
                  </div>
                  <p class="text-muted">
                    Pay $1500 now, and the rest ($1500) will be automatically
                    charged to the same payment method on Nov 26, 2022. No extra
                    fees.
                  </p>
                </div>
                <mat-radio-button
                  #inputCheckbox2
                  class="col-md-1"
                  value="2"
                ></mat-radio-button>
              </div>
            </div>
          </fieldset>
        </div>
        <hr />
        <div class="login-register">
          <h3>Log in or sign up to book</h3>
          <form #form="ngForm" (ngSubmit)="onSubmit(form)">
            <mat-form-field appearance="outline">
              <mat-label>Country/Region</mat-label>
              <mat-select [(ngModel)]="selectedValue" name="country">
                <mat-option
                  *ngFor="let phoneIndex of phoneIndexArr"
                  [value]="{ name: phoneIndex.name, code: phoneIndex.code }"
                >
                  {{ phoneIndex.name }} ({{ phoneIndex.code }})
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Phone number</mat-label>
              <input
                type="number"
                name="phoneNumber"
                matInput
                [(ngModel)]="test"
              />
            </mat-form-field>
            <button
              class="submit-btn"
              type="submit"
              mat-raised-button
              color="accent"
            >
              Continue
            </button>
          </form>
          <div class="horizontal-line">or</div>
          <div class="social-buttons-container">
            <button id="facebook" class="social-buttons">
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g mask="url(#mask0_1_5)">
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M23.9998 12.0734C23.9998 5.40589 18.6266 0 11.9993 0C5.372 0 -0.0012207 5.40589 -0.0012207 12.0734C-0.0012207 18.1001 4.38696 23.0945 10.1242 24V15.5647H7.07707V12.0734H10.1242V9.41326C10.1242 6.38786 11.9163 4.71669 14.6574 4.71669C15.9694 4.71669 17.3435 4.95213 17.3435 4.95213V7.9232H15.8294C14.3384 7.9232 13.8734 8.85386 13.8734 9.80867V12.0734H17.2015L16.6695 15.5637H13.8734V24C19.6116 23.0945 23.9998 18.1001 23.9998 12.0734Z"
                    fill="#1877F2"
                  />
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M16.671 15.5637L17.203 12.0734H13.8749V9.80867C13.8749 8.85386 14.3399 7.9232 15.831 7.9232H17.3441V4.95212C17.3441 4.95212 15.97 4.71669 14.6579 4.71669C11.9168 4.71669 10.1248 6.38685 10.1248 9.41326V12.0734H7.07763V15.5637H10.1248V24C11.3672 24.1962 12.6325 24.1962 13.8749 24V15.5647H16.671"
                    fill="white"
                  />
                </g>
              </svg>
            </button>
            <button id="google" class="social-buttons">
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g clip-path="url(#clip0_2_12)">
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M12 4.64C14.2533 4.64 15.7733 5.61333 16.64 6.42667L20.0267 3.12C17.9467 1.18667 15.24 -3.57628e-07 12 -3.57628e-07C7.30667 -3.57628e-07 3.25333 2.69333 1.28 6.61333L5.16 9.62667C6.13333 6.73333 8.82667 4.64 12 4.64Z"
                    fill="#EA4335"
                  />
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M23.52 12.2667C23.52 11.28 23.44 10.56 23.2667 9.81333H12V14.2667H18.6133C18.48 15.3733 17.76 17.04 16.16 18.16L19.9467 21.0933C22.2133 19 23.52 15.92 23.52 12.2667Z"
                    fill="#4285F4"
                  />
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M5.17333 14.3733C4.91115 13.6094 4.77602 12.8077 4.77333 12C4.77333 11.1733 4.92 10.3733 5.16 9.62667L1.28 6.61333C0.439652 8.2847 0.00134052 10.1293 0 12C0 13.9333 0.466667 15.76 1.28 17.3867L5.17333 14.3733Z"
                    fill="#FBBC05"
                  />
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M12 24C15.24 24 17.96 22.9333 19.9467 21.0933L16.16 18.16C15.1467 18.8667 13.7867 19.36 12 19.36C8.82667 19.36 6.13334 17.2667 5.17334 14.3733L1.29333 17.3867C3.26667 21.3067 7.30667 24 12 24Z"
                    fill="#34A853"
                  />
                </g>
                <defs>
                  <clipPath id="clip0_2_12">
                    <rect width="24" height="24" fill="white" />
                  </clipPath>
                </defs>
              </svg>
            </button>
            <button id="apple" class="social-buttons">
              <svg
                width="21"
                height="24"
                viewBox="0 0 21 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M11.5714 2.1C12.0427 1.49193 12.652 0.988439 13.3558 0.625439C14.0595 0.262439 14.8405 0.0488807 15.6429 0C15.7128 0.681516 15.635 1.3692 15.4141 2.02206C15.1932 2.67491 14.8338 3.27957 14.3571 3.8C13.9219 4.36584 13.3393 4.81885 12.6645 5.11628C11.9896 5.41372 11.2447 5.54578 10.5 5.5C10.4227 4.8951 10.4778 4.28185 10.662 3.69741C10.8462 3.11298 11.1556 2.56953 11.5714 2.1V2.1ZM6.21429 5.8C3.21429 5.8 0 8.3 0 13.1C0 18 3.75 24 6.75 24C7.82143 24 9.42857 23 11.0357 23C12.6429 23 13.8214 23.9 15.3214 23.9C18.6429 23.9 21 17.5 21 17.5C19.9762 17.0877 19.1051 16.4031 18.4954 15.5317C17.8857 14.6603 17.5643 13.6407 17.5714 12.6C17.5721 11.6878 17.8298 10.7918 18.3187 10.0019C18.8077 9.21202 19.5107 8.55611 20.3571 8.1C19.8079 7.33128 19.0565 6.70695 18.1748 6.28675C17.2931 5.86655 16.3107 5.66452 15.3214 5.7C13.1786 5.7 11.5714 6.8 10.7143 6.8C9.75 6.8 8.14286 5.8 6.21429 5.8V5.8Z"
                  fill="#222222"
                />
              </svg>
            </button>
            <button id="dynamicBtn" class="dynamic-socials-button">
              <div class="text-wrapper">
                <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g clip-path="url(#clip0_2_19)">
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M22.5 4H1.5C0.67 4 0 4.67 0 5.51V18.5C0 19.33 0.67 20 1.5 20H22.49C22.6887 20.0013 22.8856 19.9632 23.0694 19.8878C23.2532 19.8124 23.4202 19.7012 23.5607 19.5607C23.7012 19.4202 23.8124 19.2532 23.8878 19.0694C23.9632 18.8856 24.0013 18.6887 24 18.49V5.51C24 4.67 23.33 4 22.5 4V4ZM23 18.2L16.86 10.29L23 5.63V18.21V18.2ZM22.17 5L12.48 12.36C12.22 12.56 11.76 12.56 11.5 12.36L1.83 5H22.18H22.17ZM1 5.63L7.14 10.3L1 18.18V5.63ZM1.63 19L7.93 10.9L10.9 13.16C11.52 13.63 12.47 13.63 13.09 13.16L16.06 10.9L22.35 19H1.63Z"
                    fill="#222222"
                  />
                </g>
                <defs>
                  <clipPath id="clip0_2_19">
                    <rect width="24" height="24" fill="white" />
                  </clipPath>
                </defs>
              </svg>
              <p>continue with email</p>
              </div>
            </button>
          </div>
        </div>
      </div>
    </section>
  </body>
</article>
